.header-container{
    position: fixed;
    width: 100vw;
    height:50px;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    border: .5px solid lightgray;
    /* background-color:  #d9d9d9; */
    background-color:  #e6e6e6;
    box-sizing: border-box;
    z-index: 500;
}
.logo-container{
    width:15vw;
    height:50px;
    justify-content: start;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.logo-img{
    margin-left: 10px;
    width: 35px;
    height:100%
}
.search-container{
    position: relative;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:9.5px;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
}
.search-icon{
    align-items: center;
   color:rgb(82, 231, 82);
   background: white;
    
}
.search-bar{
    width:100%;
    padding: 5px;
    outline: none;
    border: none;
    box-sizing: border-box;
    
}
.user-container{
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cart{
    /* margin-left: 20px; */
}
.user{
    /* margin-right: 20px; */
}